:global(#app) {
    display: flex;
    justify-content: center;
}

.app {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 10px 10px;

    display: flex;
    flex-flow: column;

    > * {
        margin-bottom: 10px;
    }
}

